

@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600;700&display=swap');
*{
    box-sizing: border-box;/* puede ser útil para mantener un mejor control sobre el diseño y el posicionamiento de los elementos en una página*/
}
body {
   
    /*text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;*/
    font-family: 'Rajdhani'; /*Establece la fuente de la familia de fuentes a utilizar para el texto dentro del <body>*/
    background-image: url('imagen.jpg'); /*imagen de fondo*/
    background-repeat: no-repeat;
    background-attachment: fixed;/*Fija la posición de la imagen de fondo para que no se desplace al hacer scroll en la página.*/
    background-size: cover;/*Ajusta automáticamente el tamaño de la imagen de fondo para cubrir completamente el área del <body>*/
  }
  
  h1 {
    color: #6a0dad;
    margin-top: 40px;
    text-align: center;
  }


  #pantalla-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;/*largo del cuado*/

    display: block;
    max-width: 700px;/*ancho del cuadro*/
    margin: 100px auto; /*subir y bajar el cuadro*/
    text-align: center;
    background:rgba(255, 255, 255, 0.7);
    padding: 2.5px;
    border: 2px solid #000;
    border-radius: 20px; 
}
#pantalla-inicial h1{
    margin-bottom: 20px; /*mover boton*/
    padding: 25px 80px; /*mover texto "subnet master"*/
    font-family: 'Rammetto One';
    font-size: 50px;
    color:#4a68e0;
    -webkit-text-stroke: 0.1px #000; /* Color y grosor del contorno */


}
.tiempo-destacado {
    display: inline-block;
    padding: 10px;
    background-color: #c466fc;
    color: #000;
    border-radius: 5px;
  
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  #pantalla-instrucciones{
    background-image: url('instrucciones2.jpg');
    font-family: 'Rammetto One';
    display: none;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: auto;
    background: rgba(131, 89, 222, 0.7);
    padding: 40px; /* Ajusta el espacio interno según tus necesidades */
    border: 2px solid #000;
    border-radius: 20px; 
  }
  
#pantalla-final{
    font-family: 'Rammetto One';
    display: none;
    max-width: 325px;/*ancho*/
    margin:10px; /*centrar cuadro*/
    text-align: center;
    background:rgba(131, 89, 222, 0.7);
    padding: 12px;/*largo cuadro*/
    border: 2px solid #000;
    border-radius: 20px; 
}
#pantalla-final span{
   
    display: block;
    background: #000;
    width: 100px;
    height: 100px;
    display: block;
    margin:auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 30px;
}
#game-over{
    display: none;
}
#pantalla-juego{
    display: none;
}

#pasar-nivel{
    display: none;
}

#no-pasar-nivel{
    display: none;
}
.container #tiempo{
    font-size: 50px;
    font-weight: bold;
}
  #question-container {
    font-family: 'Rammetto One';
    margin: 50px auto;
    max-width: 700px;
    background-color: #f9e6f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(174, 15, 195, 0.1);
  }
  
  #answers {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  #answers li {
    margin-bottom: 10px;
  }
  
  #result-container {
    font-family: 'Rammetto One';
    display: none;
    margin-top: 20px;
    text-align: center;
    -webkit-text-stroke: 0.1px #000;
    font-size: 25px;
  }
  
  #result {
    font-weight: bold;
  }
  
  .botones{
    margin-bottom: 20px;
    
}
button{
    background-color: #c466fc;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 30px;
    border-bottom: 4px solid #4b0872 ;
    font-size: 20px;
    
}
button:hover{
    border-bottom: 4px solid transparent;
    background-color: #7705b9;
}
#pantalla-final{
    font-family: 'Rammetto One';
    display: none;
    max-width: 325px;/*ancho*/
    margin:10px; /*centrar cuadro*/
    text-align: center;
    background:rgba(131, 89, 222, 0.7);
    padding: 12px;/*largo cuadro*/
    border: 2px solid #000;
    border-radius: 20px; 
}
#pantalla-final span{
   
    display: block;
    background: #000;
    width: 100px;
    height: 100px;
    display: block;
    margin:auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 30px;
}

#pasar-nivel {
    font-family: 'Rammetto One';
    display: none;
    max-width: 325px;
    margin:125px auto; /*centrar cuadro*/
    margin-top: -200px; /*subir y bajar el cuadro*/
    text-align: center;
    background:rgba(191, 205, 215, 0.7);
    padding: 30px;/*tamano del cuadro*/
    border: 2px solid #000;
    border-radius: 20px; 
}
#no-pasar-nivel{
    font-family: 'Rammetto One';
    display: none;
    max-width: 325px;
    margin:125px auto; /*centrar cuadro*/
    margin-top: -200px; /*subir y bajar el cuadro*/
    text-align: center;
    background:rgba(191, 205, 215, 0.7);
    padding: 30px;/*tamano del cuadro*/
    border: 2px solid #000;
    border-radius: 20px; 
}
#game-over{
    
    padding:500px ; /*mover texto ""*/
    margin-top: -900px;
    font-family: 'Rammetto One';
    text-align: right;
    font-size: 35px;
    color:#4a68e0;
    -webkit-text-stroke: 0.1px #000; /* Color y grosor del contorno */

}