
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e0eafc;
    background-image: linear-gradient(315deg, #e0eafc 0%, #cfdef3 74%);
}

#instrucciones-texto p {
  text-align: justify;
  padding: 0 20px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: 'Roboto', sans-serif;  /* Cambia la familia de fuentes a Roboto */
  letter-spacing: 0.02em;  /* Agrega un poco de espaciado entre las letras */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);  /* Agrega una ligera sombra de texto */
  color: #333;  /* Ajusta el color del texto a un gris oscuro para una lectura más fácil */
}




#pantalla-instrucciones {
  font-family: 'Roboto';
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: rgba(131, 89, 222, 0.7);
  padding: 80px;
  border: 5px solid #000;
  border-radius: 30px;
  color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#titulo-animado {
  color: #d1face;
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  text-shadow: 4px 4px 8px #000;
  transition: transform 0.3s;
  animation: titleAnimation 3s ease-in-out infinite;
}

@keyframes titleAnimation {
  0% { 
      color: #d1face; 
      text-shadow: 4px 4px 8px #000;
  }
  50% { 
      color: #ec38bc; 
      text-shadow: 0 0 20px #ec38bc, 0 0 30px #ec38bc, 0 0 40px #ec38bc;
  }
  100% { 
      color: #d1face; 
      text-shadow: 4px 4px 8px #000;
  }
}


h1 {
  color: #d1face;
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 4px 4px 8px #000;
  transition: transform 0.3s;
}


#subtitulo-especial {
    font-family: 'Roboto', sans-serif;
    color: #354134;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


  #pasar-nivel{
    display: none;
  }
  
  #no-pasar-nivel{
    display: none;
  }
  #pantalla-final{
    display: none;
  }
  .container {
    width: 90%;
    max-width: 37.5em;
    background-color: #ffffff;
    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
  }
/*   
  .tiempo-destacado {
    display: inline-block;
    padding: 10px;
    background-color: #c466fc;
    color: #000;
    border-radius: 5px;
  
  } */
  #titulo-instrucciones {
    text-align: left;
    width: auto;  /* Ajustar automáticamente el ancho para alinear con los párrafos */
    margin: 1em 0;  /* El primer valor ajusta el margen superior e inferior y el segundo valor el margen izquierdo y derecho */
    margin-left: 0.7em;  /* Agregar un margen izquierdo */
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 2em;
    color: #e3a8a8;  /* Color más suave */
    text-shadow: 2px 2px 4px #000000;
  }
  



  h3 {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    color: #010c39;
  }
  .draggable-objects,
  .drop-points {
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }
  .draggable-image {
    width: 8em;
    cursor: move;
  }
  img {
    width: 8em;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
  }
  .countries {
    width: 10em;
    height: 8em;
    display: grid;
    place-items: center;
    border: 0.25em dashed #010c39;
    border-radius: 0.8em;
  }
  .dropped {
    padding: 0;
    background-color: #e5ffc8;
  }
  .drop {
    padding: 0;
    background-color: #f8c6c6;
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #5372ef;
    flex-direction: column;
    top: 0;
  }

  #pantalla-final{
    font-family: 'Roboto', sans-serif;
    text-align: center; /* Alinea el texto a la izquierda */
    background: rgba(134, 186, 220, 0.9); /* Cambia el color de fondo a un azul suave */
    padding: 12px;
    border: 10px double #0a0a0a; /* Cambia el estilo y grosor del borde a un doble borde en gris azulado */
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    color: #111a22; /* Cambia el color del texto a un azul oscuro */
    max-width: 325px;
    margin: 10px;
  }
  
  

  
  .controls-container button {
    
    font-size: 1.12em;
    padding: 0.8em 1em;
    border-radius: 0.2em;
    border: none;
    outline: none;
    color: #010c39;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .controls-container p {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 1em;
  }
  .hide {
    display: none;
  }
  .tiempo-destacado {
    display: inline-block;
    padding: 10px;
    background-color: #c466fc;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.container {
  font-weight: bold;
  text-align: center;
  border: 5px solid #000;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#pantalla-final span{
   
    display: block;
    background: #000;
    width: 100px;
    height: 100px;
    display: block;
    margin:auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.botones{
  margin-bottom: 20px;
  
}


.salir {
  float: left;
}

.siguiente {
  float: right;
}

button{
  background-color: #ff4757;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 30px;
  border-bottom: 6px solid #c23616;
  font-size: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

button:hover{
  border-bottom: 6px solid transparent;
  background-color: #ff6b81;
}

#pasar-nivel {
  font-family: 'Rammetto One';
  display: none;
  max-width: 325px;
  margin:125px auto; /*centrar cuadro*/
  margin-top: -200px; /*subir y bajar el cuadro*/
  text-align: center;
  background:rgba(191, 205, 215, 0.7);
  padding: 30px;/*tamano del cuadro*/
  border: 2px solid #000;
  border-radius: 20px; 
}
#no-pasar-nivel{
  font-family: 'Rammetto One';
  display: none;
  max-width: 325px;
  margin:125px auto; /*centrar cuadro*/
  margin-top: -200px; /*subir y bajar el cuadro*/
  text-align: center;
  background:rgba(191, 205, 215, 0.7);
  padding: 30px;/*tamano del cuadro*/
  border: 2px solid #000;
  border-radius: 20px; 
}